.mat-dialog-container {
  background-color: #F4F5F7;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.desc-top{
  display: flex;
  align-items: flex-end;
}

.full{
  width: 100%;
  min-height: 70px;
}

.adder{
  width: 100%;
}
