<div class="principal-container">
  <div class="header">
    <app-editable-text class="title" [customStyle]="titleStyle" [obj]="board"></app-editable-text>
  </div>
  <div class="board">
    <div cdkDropList
         cdkDropListOrientation="horizontal" class="board-list"
         (cdkDropListDropped)="drop($event)">
      <div class="box" *ngFor="let l of board.lists"
           (cdkDragStarted)="cdkDragStarted($event)" cdkDrag>
        <div [ngStyle]="{'max-height':cardHeight+'px' }" class="custom-placeholder" *cdkDragPlaceholder></div>
        <app-list [list]="l" ></app-list>
      </div>
      <app-list-adder
        [text]="strings.listAdder.title"
        [placeholder]="strings.listAdder.placeholder"
        [buttonText]="strings.listAdder.button"
        (listEvent)="createList($event)"></app-list-adder>
    </div>
  </div>
</div>
<!--<button (click)="test()">test</button>-->
